<% content_for :title do %>Video Viewer<% end %>
<h3>Video Viewer</h3>
<div class="video-playback-root">

</div>

<% content_for :scripts do %>
    <!-- load requirejs application -->
    <%= requirejs_include_tag 'video-viewer' %>
    <script>
      define('templateData', [], function() {
          return {
            videoId: '<%= @video_id %>',
            linesData: '<%= raw @linesData %>'
          };
      })
    </script>
<% end %>
